:root {
  --primary-color: #705D89;
  --secondary-color: #C6BCDB;
  --accent-color: #848586;
  --light-color: #dfe0e2;
  --dark-color: #34373B;
}

.navbar {
  background-color: var(--primary-color);
}

/* Use responsive units for font sizes */
h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  /* Use media queries to adjust styles for smaller screens */
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  /* Use media queries to adjust styles for even smaller screens */
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .img-fluid {
    max-width: 80%;
  }
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  background-color: var(--light-color);
}

.card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.card-text {
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--dark-color);
}

.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-secondary {
  background-color: var(--dark-color);
  border-color: var(--dark-color);
}

.btn-secondary:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}